<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AirPool.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BD2401301E312F2F00C30B9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD2401471E312F2F00C30B9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD2401521E312F3000C30B9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
